* {
    margin: 0;
    padding: 0;
}

.infobox {
    width: 312px;
    height: 325px;
    display: block;
    background-image: url('../img/comp_plate_graybasic.png');
    border: #a1a1a1 solid 1px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px gray;
    -moz-box-shadow: 5px 5px 5px gray;
    -webkit-box-shadow: 5px 5px 5px gray;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin: 50px auto;
    overflow: hidden;
    /*shadows for IE*/
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#a1a1a1);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=135, color=#a1a1a1, strength=7);
    zoom: 1;
}

/* prefix 'ib-' is used for Infobox styles*/

.ib-product-photo {
    width: 100%;
    height: 200px;
}

.ib-product-info {
    box-sizing: border-box;
    padding: 10px;
}

.ib-details {
    font: bold 0.8em/1.25 Arial;
    color: #ed6c20;
}

.ib-details:hover {
    color: gray;
}

.ib-hiding-details {
    overflow: hidden;
    height: 35px;
}

.ib-header {
    height: 1.8em;
    overflow: hidden;
}

.ib-header h2 {
    font: bold 1.3em/1.25 Arial;
    color: #ed6c20;
}

.ib-description {
    overflow: hidden;
    margin-top: -5px;
}

.ib-active {
    cursor: pointer;
}

.ib-scroll {
    overflow-y: auto;
}

.ib-description-text {
    font: normal 0.8em/1.25 Arial;
    color: black;
    margin-bottom: 2px;
}

.ib-notes-text {
    font: normal 0.7em/1.25 Arial;
    color: gray;
}

.ib-all-buttons {
    margin-top: 5px;
}

.ib-buttons {
    float: left;
}

.ib-find-button {
    float: right;
    width: 110px;
    height: 26px;
    position: relative;
    /*for IE7-8*/
    zoom: 1;
    *display: inline;
}

.ib-left-button,
.ib-right-button {
    display: inline-block;
    width: 68px;
    height: 26px;
    position: relative;
    /*for IE7-8*/
    zoom: 1;
    *display: inline;
}

.ib-buttons span,
.ib-find-button span {
    position: absolute;
}

.gray-button-label-left,
.gray-button-label-right {
    font: bold 12px Arial;
    color: #a1a1a1;
}

.gray-button-label-left {
    top: 5px;
    left: 30px;
}

.gray-button-label-right {
    top: 5px;
    right: 30px;
}

.orange-button-label-right {
    top: 5px;
    left: 12px;
    font: bold 12px Arial;
    color: #ed6c20;
}

.white {
    color: #FFF;
}

.sprite {
    /* used sprite generator http://spritegen.website-performance.org */
    background-image: url('../img/buttons-sprite.png');
    background-repeat: no-repeat;
}

.sprite-arrowSide {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 7px;
    right: 7px;
    background-position: -5px -5px;
}

.sprite-btn_ic_brn_left,
.sprite-btn_ic_gray_left,
.sprite-btn_ic_brn_right,
.sprite-btn_ic_gray_right {
    width: 12px;
    height: 10px;
    position: absolute;
    top: 8px;
}

.sprite-btn_ic_brn_left,
.sprite-btn_ic_gray_left {
    left: 5px;
}

.sprite-btn_ic_brn_right,
.sprite-btn_ic_gray_right {
    right: 5px;
}

.sprite-btn_ic_brn_right {
    background-position: -47px -5px;
}

.sprite-btn_ic_gray_right {
    background-position: -91px -5px;
}

.sprite-btn_ic_brn_left {
    background-position: -25px -5px;
}

.sprite-btn_ic_gray_left {
    background-position: -69px -5px;
}

.sprite-button_bg_orange_left,
.sprite-button_bg_orange_right,
.sprite-button_bg_white_left,
.sprite-button_bg_white_right {
    width: 68px;
    height: 26px;
}

.sprite-button_bg_orange_left {
    background-position: -5px -25px;
}

.sprite-button_bg_orange_right {
    background-position: -5px -61px;
}

.sprite-button_bg_white_left {
    background-position: -5px -97px;
}

.sprite-button_bg_white_right {
    background-position: -113px -5px;
}

.sprite-button_find_orange_right,
.sprite-button_find_white_right {
    width: 110px;
    height: 26px;
}

.sprite-button_find_orange_right {
    background-position: -83px -41px;
}

.sprite-button_find_white_right {
    background-position: -83px -77px;
}