<header class="container">
    <h1>Servers</h1>
    <div class="row">
        <div class="col-xs-3">
            <h2>Filter by version</h2>
        </div>
        <div class="col-xs-9">
            <fieldset class="form-group col-xs-2">
                <select ng-model="search.version" class="form-control" ng-options="serverVer for serverVer in serversVer" title="versions">
                    <option value="">All Versions</option>
                </select>
            </fieldset>
        </div>
    </div>
</div>
</header>
<div class="container">
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Ip</th>
            <th>Name</th>
            <th>Current Version</th>
            <th>Operations</th>
        </tr>
        <tr ng-repeat="server in servers | filter:search:getComparator">
            <td>{{server.ip}}</td>
            <td>{{server.name}}</td>
            <td>{{server.version}}</td>
            <td>
                <div class="col-xs-5">
                    <a ng-href="#/edit/{{server.id}}"><button type="button" class="btn btn-default">Edit</button></a>
                    <a><button ng-click="remove(server.id)" type="button" class="btn btn-default">Remove</button></a>
                    <button type="button" ng-click="restart()" class="btn btn-default" data-toggle="modal" data-target="#myModal">Restart</button>
                </div>
                <div class="col-xs-7">
                    <fieldset ng-show="{{server.id == currrentId}}" class="form-group col-xs-4">
                        <select ng-model="version" class="form-control" ng-options="version for version in availableVer" title="versions">
                        </select>
                    </fieldset>
                    <div class="col-xs-8">
                        <a><button type="button" ng-click="update(server.id, version)" class="btn btn-default">Update</button></a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<a ng-href="#/edit/"><button ng-click="save(server)" type="button" class="btn btn-default">Add</button></a>
</div>
</div>