.container {
	width: 540px;
}

.tag-list1, .tag-list2 {
	margin-top: 50px; 
	background-color: #CCD7FF;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.form {
	display: inline-block;
}

.tags-box div {
	display: inline-block;
	margin: 5px;
}

input {
	height: 33px;
	margin-right: 5px;
	margin-left: 5px;
	width: 379px;
}

.addBtn {
	width: 100px;
}

.tag {
	background: #E2E4FF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-right: 0.5%;
}

.label {
	cursor: pointer;
}

.conteiner-edit {
	display: none;
	padding: 1%;
}

.conteiner-show {
	padding: 1%;
}

#link1, #link2 {
	text-decoration: none;
}